<footer>
  <div class="row">
    <ul class="main-nav">
      <li>
        <a href="https://prosari1.github.io/" target="_blank">Github Pages |</a>
      </li>
      <li>
        <a href="https://www.khanacademy.org/profile/prosari1/" target="_blank"
          >Khan Academy |</a
        >
      </li>
      <li>
        <a href="https://www.codecademy.com/profiles/prosari1" target="_blank"
          >Codecademy |</a
        >
      </li>
      <li>
        <a href="https://www.freecodecamp.org/prosari1" target="_blank"
          >FreeCodeCamp |</a
        >
      </li>
      <li>
        <a href="https://jsfiddle.net/user/prosari1" target="_blank"
          >JSFiddle |</a
        >
      </li>
      <li>
        <a href="https://profile.edx.org/u/prosari1" target="_blank">EdX |</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/pcrosario/" target="_blank"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
  <div class="row">
    <p>Designed by Patricia &copy;2022</p>
    <p>
      <a
        href="http://validator.w3.org/check?uri=referer"
        target="_blank"
        style="text-decoration: none"
        >&#10004; HTML5</a
      >
      <a
        href="https://validator.w3.org/check?uri=https://prosari1.github.io/web215/index.html"
        target="_blank"
        style="text-decoration: none"
        >&#10004; CSS</a
      >
    </p>
  </div>
</footer>
